*{

}

body {
    font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(204, 218, 245);
}

h1 {

}

img {
    margin-top: 10px;
    border: 5px solid black;
    margin-right: 90px;
  
}

ul {

}

li {

}

p {
  
}

#header {
   text-align: center;
   border-bottom: 5px solid black;
   padding-bottom: 5px;
   background-color:  rgb(145, 145, 248);;





   
  
}

#content{
    text-align: right;
   
  
}

#text {
    margin-left: 100px;
    
   
}

#text p {
    
    border: 5px solid black;
    border-style: dashed;
    background-color: rgb(145, 145, 248);
    margin-top: 1px;
    margin-bottom: 1px;
    
    width: 90%;
    padding: 10px;
    

    


  
}

#text p:first-child {
   
    background-color: darkgray;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
    background-image: repeating-linear-gradient(
        45deg,          
        darkgray,       
        darkgray 5px,  
        lightgray 5px, 
        lightgray 10px 
    );
}

#text p:last-child {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

#menu {
text-align: center;

}

#menu a{
   
}


#menu li{
    list-style: none;
    display: inline-block;
    border-left: 5px solid red;

}

#menu li a:hover{
    text-decoration: underline;
    text-decoration-color: red;
    color: red;
   
}

#footer{
    text-align: center;
    border-top: 5px solid black;
    color: aliceblue;
    background-color: rgb(145, 145, 248);
}

#footer a{
   background-color: aliceblue;  
}

#footer a:hover{
  color: red;
}
#image {
     margin-right: 60px;
    
    
   

}

@media all and (max-width: 500px) {
   
    #image img {
        border: 2px solid red;
        width: 90%;
        margin: 0 auto; 
        
    }

}
